---
import Title from "../../components/Title.astro";
import WorklogPost from "../../components/WorklogPost.astro";
import { getCollection, render } from "astro:content";
import BaseLayout from "../../components/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("progressionLog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title}>
  <Title class="text-center">{post.data.title}</Title>
  <article class="max-w-3xl mx-auto flex flex-col gap-y-8">
    <header class="flex flex-col items-center gap-y-4">
      <time
        datetime={post.data.pubDate.toISOString()}
        class="text-xl text-gray-500"
      >
        {post.data.pubDate.toDateString()}
      </time>
      {post.data.worklog && <WorklogPost post={post} />}
    </header>
    <div class="prose prose-lg">
      <Content />
    </div>
  </article>
</BaseLayout>
